// Originally, the macro would output always the same value.
// EXPECTED
// a {
//   background-image: image-a.png;
// }
//
// b {
//   background-image: image-b.png;
// }
//
// c {
//   background-image: image-c.png;
// }
// END
@macro bg url
	background-image: $url

a
	bg(image-a.png)

b
	bg(image-b.png)

c
	bg(image-c.png)
