FONT_PROXIMA                = "Proxima Nova W08 Reg", Helvetica, Arial, sans-serif
FONT_DIN                    = "DIN Next W01 Regular"
FONT_DEFAULT                = $FONT_PROXIMA
.Application:
	font-family: $FONT_DEFAULT
	font-family: $FONT_DIN

