// @expects
// ---
// .sampler-sample {
//   color: #FF0000;
// }
// 
// .sampler-sample-icon {
//   color: #00FF00;
// }
// 
// .sampler__separated .sample-icon {
//   color: #00FF00;
// }
// 
// .sampler__separated .sample {
//   color: #FFFF00;
// }
// ---
.sampler-
	.-sample-
		color: red

.sampler__separated-:
	extend(.sampler)

