// EXPECT
// .cursor {
//   cursor: move;
//   cursor: grab;
//   cursor: -moz-grab;
//   cursor: -webkit-grab;
// }⏎
// END
.cursor-
	cursor: move
	cursor: grab
	cursor: -moz-grab
	cursor: -webkit-grab
