// div1, div2:
// 	color: red
// 
div label, div > span:
	color: red
	&#POUET.class:
		font-size: 100%
		&:hover:
			color: red
// div, div#NID.classA.classB[data-type=1,data-name=2,data-pouet=3]:hover span > label:
// 	color: red
// 	background: #FF0000
// 	&.subrule:
// 		font-size: 100%
