A  = 2em
PX = 10em + 20em + 10 * $A

div:hover > a:first:
	background: red
	background: #FF0000
	background: #FF0000FF
	background: rgba(255,0,0)
	background: rgba(255,0,0,1.0)
	padding: 0em + 10em 0em 0em 0em
	height: 10 * $PX
	height: 10 * $PX !important

// EOF
